
.navbar .navbar-brand{
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
}
.collapsible-div{
    margin-left: 700px;
}
li{
    font-size: 25px;
    padding-left: 20px;
}
.navbar .navbar-collapse .navbar-nav > li > a{
    color: white;
}

.navbar .navbar-collapse .navbar-nav > li > a:hover{
    text-decoration: none;
    background: rgb(235, 190, 211);
    color: #1e1e1e
}

.img-div{
    position: relative;
    z-index: 1;
    margin-left: -15px;
}

.introduction-div{
    position: absolute;
    z-index: 2;
    top: 350px;
    color: rgb(250, 53, 142);
    font-size: 30px
}
input.more{
    border-radius: 25px;
    background: rgb(243, 170, 204);
    padding: 10px 20px;
    font-size: 25px;
}

input.more:hover{
    background: rgb(173, 16, 89);
    color: #fff;
}

.div-sections{
    margin-top: 100px;
}

.horizontal{
    width: 70px;
    border: 2px solid rgb(173, 16, 89);
    margin-left: 10px;
}

.aboutme{
    padding-left: 50px;
    line-height: 2em;
    font-size: 20px;
}

#skill-horizontal{
    padding-left: 200px;
}

#progress-skills{
    /* border: 1px solid red; */
    /* padding-top: 30px; */
    text-align: center;
    color: blue;
    font-weight: 600;
}
.progress-list li{
    display: block;
}
progress[value]{
    border-radius: 1px; 
    width: 80%;
    height: 25px;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, 
                                transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
                                rgba(255, 255, 255, .25), 
                                rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
